<body>
  <h2 class="ui">Top brand products..</h2>
  <p>Top brands for Phones and Electronics. Latest trends in Fashion. Free Shipping and great offers are available!!</p>

  <div class="container">
    <div class="products1-card">
      <mat-card class="product-card">
        <mat-card-header>
          <mat-card-title>MacBook Pro</mat-card-title>
          <mat-card-subtitle>Laptops</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://dummyjson.com/image/i/products/6/2.jpg"
        />
        <mat-card-content>
          <p>
          MacBook Pro 2021 with mini-LED display may launch between September, November
          </p>
        </mat-card-content>
        <div>
          <mat-card-actions class="uii">
            <button mat-button class="likebt">LIKE</button>
            <button mat-button class="sharebt">SHARE</button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>

    <div class="products2-card">
      <mat-card class="product1-card">
        <mat-card-header>
          <mat-card-title>OPPOF19</mat-card-title>
          <mat-card-subtitle>Smartphones</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://dummyjson.com/image/i/products/4/2.jpg"
        />
        <mat-card-content>
          <p>OPPO F19 is officially announced on April</p>
        </mat-card-content>
        <div>
          <mat-card-actions class="uii">
            <button mat-button class="likebt">LIKE</button>
            <button mat-button class="sharebt">SHARE</button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>

    <div class="products3-card">
      <mat-card class="product2-card">
        <mat-card-header>
          <mat-card-title>Microsoft Surface Laptop 4</mat-card-title>
          <mat-card-subtitle>Laptops</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://dummyjson.com/image/i/products/8/2.jpg"
        />
        <mat-card-content>
          <p>Style and speed. Stand out on HD video calls backed by Studio Mics. Capture ideas on the vibrant touchscreen.</p>
        </mat-card-content>
        <div>
          <mat-card-actions class="uii">
            <button mat-button class="likebt">LIKE</button>
            <button mat-button class="sharebt">SHARE</button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>

    <div class="products4-card">
      <mat-card class="product3-card">
        <mat-card-header>
          <mat-card-title>Fog Scent Xpressio Perfume</mat-card-title>
          <mat-card-subtitle>fragrances</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://dummyjson.com/image/i/products/13/2.png"
        />
        <mat-card-content>
          <p>Product details of Best Fog Scent Xpressio Perfume 100ml For Men cool long lasting perfumes for Men</p>
        </mat-card-content>
        <div>
          <mat-card-actions class="uii">
            <button mat-button class="likebt">LIKE</button>
            <button mat-button class="sharebt">SHARE</button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>
    <div class="products4-card">
    <mat-card class="product3-card">
      <mat-card-header>
        <mat-card-title>Skin Beauty Serum</mat-card-title>
        <mat-card-subtitle>Skincare</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://dummyjson.com/image/i/products/19/3.png"
      />
      <mat-card-content>
        <p>Product name: rorec collagen hyaluronic acid white face serum </p>
      </mat-card-content>
      <div>
        <mat-card-actions class="uii">
          <button mat-button class="likebt">LIKE</button>
          <button mat-button class="sharebt">SHARE</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
  <div class="products4-card">
  <mat-card class="product3-card">
    <mat-card-header>
      <mat-card-title>3D Embellishment Art Lamp</mat-card-title>
      <mat-card-subtitle>Home-decoration</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://dummyjson.com/image/i/products/27/2.jpg"
    />
    <mat-card-content>
      <p>3D led lamp sticker Wall sticker 3d wall art light on/off button  </p>
    </mat-card-content>
    <div>
      <mat-card-actions class="uii">
        <button mat-button class="likebt">LIKE</button>
        <button mat-button class="sharebt">SHARE</button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
<div class="products4-card">
<mat-card class="product3-card">
  <mat-card-header>
    <mat-card-title>Elbow Macaroni - 400 gm</mat-card-title>
    <mat-card-subtitle>Groceries</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://dummyjson.com/image/i/products/22/2.jpg"
  />
  <mat-card-content>
    <p> Product details of Bake Parlor Big Elbow Macaroni - 400 gm </p>
  </mat-card-content>
  <div>
    <mat-card-actions class="uii">
      <button mat-button class="likebt">LIKE</button>
      <button mat-button class="sharebt">SHARE</button>
    </mat-card-actions>
  </div>
</mat-card>
</div>


 </div>
</body>
